<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= tag :link, href: feed_url, rel: "alternate", title: current_repo.name, type: "application/atom+xml" %>
  <%= content_tag :title, @post.try(:title) || current_repo.name %>
  <%= tag :meta, name: "name", itemprop: "name", content: current_repo.name %>
  <%= tag :meta, name: "twitter:card", content: "summary" %>
  <%= tag :meta, name: "twitter:title", content: @post.title if @post %>
  <%= tag :meta, name: "twitter:description", content: @post.excerpt if @post %>
  <%= tag :meta, property: "og:site_name", content: current_repo.name %>
  <%= tag :meta, property: "og:title", content: @post.title if @post %>
  <%= tag :meta, property: "og:url", content: post_url(@post) if @post %>
  <%= tag :meta, property: "og:description", content: @post.excerpt if @post %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <%= render "shared/ga", google_analytics_id: AppConfig.google_analytics_id unless AppConfig.google_analytics_id.blank? %>
</head>
<body>
  <div id="header">
    <%= link_to AppConfig.site_url, class: "brand" do %>
      <%= image_tag "packager-logo.svg", height: 60 %>
    <% end %>
    <ul>
      <li><a href="https://packager.io/pricing">Pricing</a></li>
      <li class="active"><a href="/">Blog</a></li>
      <li><a href="https://packager.io/documentation">Documentation</a></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    <p><a href="https://packager.io">Packager.io</a> is a hosted continuous integration platform that allows you to build and publish Linux packages for your software, directly from your Github repository, without you knowing anything about deb or rpm packaging.</p>
    <p>Ruby, Node.js, and Go apps are currently supported, and you can generate and publish public or private packages for Debian 7/8, Ubuntu 12.04/14.04, RHEL/CentOS 6/7, and SLES 11/12.<br><strong>Packaging made simple!</strong></p>
  </div>
</body>
</html>
